<!DOCTYPE  suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Smoke" verbose="1" parallel="tests" thread-count="2">
    <test name="Emulator-1">
<parameter name="port"  value="4723"/>
<parameter name="device" value="192.168.155.101:5555"/>
<parameter name="platform_name" value="Android Emulator"/>
<parameter name="platform_version" value="BrowserType.CHROME"/>
<!--specify the below property when running with chrome browser-->
<parameter name="browser_name" value="BrowserType.CHROME"/>
<classes>
    <class name="com.spotqa.mobile.android.AppiumAndroidDemo"/>
      <!--<class name="com.sample.appium.moneyHansMobile"/-->
</classes>
</test>
<test name="Real-Device">
<parameter name="port"  value="4725"/>
<parameter name="device"  value="192.168.1.146:5555"/>
<parameter name="platform_name" value="Android"/>
<parameter name="platform_version" value="5.0.2"/>
<parameter name="browser_name" value="BrowserType.CHROME"/>
<!--specify the below property when running with chrome browser
<parametr name="browser_name" value="Android"/>-->
<classes>
    <class name="com.spotqa.mobile.android.AppiumAndroidDemo"/>
    <!--<class name="com.sample.appium.moneyHansMobile">-->
</classes>
</test>
</suite>